<template>
    <lightning-card title="HelloWorld" icon-name="custom:custom14">
        <lightning-card  title="Hello">
            <lightning-button label="New" slot="actions"></lightning-button>
            <p class="slds-p-horizontal_small">Card Body (custom component)</p>
            <p slot="footer">Footnote</p>
        </lightning-card>
    </lightning-card>
</template>