<template>
    <lightning-card>
        <!--<template if:true={accounts.data}>
            <lightning-datatable
                key-field="Id"
                data={accounts.data}
                columns={columns}
            >
           </lightning-datatable>
        </template>-->
        <lightning-input type="number" label="Number of Records"  onchange={handleinputChange}></lightning-input>
        <template for:each={options} for:item="acc">
                    <p key={acc.value}>{acc.label}</p>
                </template>
    </lightning-card>
</template>