<apex:page sidebar="​false">
<h1>Opportunity Details</h1>
<wave:dashboard dashboardId="0FK6F0000008AIxGAO"
                 showTitle="true"
                 height="600px"
                 openLinksInNewWindow="true"
/>
</apex:page>