<apex:page standardController="Account">
    <apex:pageBlock title="Hello {!$User.FirstName}">
    You are viewing the page for account Name {!account.Name}
    </apex:pageBlock>
    <apex:pageBlock title="Contact details"> 
        <apex:form >
            <apex:dataTable value="{!account.contacts}" var="contact" border="1" cellpadding="4">
                <apex:column >
                    <apex:commandLink reRender="detail">
                        {!contact.Name}
                    	<apex:param name="cid" value="{!contact.Id}"/>
                    </apex:commandLink>
                
                </apex:column>
            </apex:dataTable>
        </apex:form>
    </apex:pageBlock>
    
    <apex:outputPanel id="detail">
        <apex:detail subject="{!$CurrentPage.parameters.cid}" relatedList="false" title="false"/>
    </apex:outputPanel>
</apex:page>